html
{
  scroll-behavior: smooth;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  
}

li {
  float: right;
}

li a {
  display: inline;
  color: #5e2678;
  text-align: center;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
}

li a:hover
{
  color:#a767ab;
  background-color: ;
}

li a.active
{
  color:#e9eaeb;
  background-color:#a767ab ;
  text-decoration: overline;
}


.logoimg
{
  width: 200px;
  height: 53px;
  float: left;
}

h1
{
  font-family: amatic SC;
  font-size: 7em;
  text-align: center;

}

body
{
  /*background-image: url(../images/page_images/bg.jpg);*/

  height: 100%
  min-height: 100vh;
 
}

.seen
{
  color:#9e9fa1 ;
}

.contact
{
  color:#9e9fa1 ; 
  margin-top: 0px;
  margin-bottom: 0px;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: ; /* Set a background color */
  color: #5e2678; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color:#9e9fa1; /* Add a dark-grey background on hover */
}

.footer-content
{
  text-align: center;
  color: #9e9fa1;

}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Roboto', sans-serif;

}

input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Roboto', sans-serif;
}

input[type=submit]
 {
  color:#5e2678 ;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
}

.contact-wrapper {
  border-radius: 5px;
  padding: 50px;

}

.submitbutton
{
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  border: hidden;
  cursor: pointer;
  color: #5e2678;
  padding: 5px 15px 5px 15px;
  border-radius: 1.25em;
  width: 100%;
}

.submitbutton:hover
{
  color:#e9eaeb;
  background-color: #a767ab;
  transform: scale(1.09);
}
 
.navigationbar
{
  display: flex;
  justify-content: space-between;
  align-items: right;
}

.navlinks ul
{
  display: flex;
}

.navlinks li a
{
  display: block;
  padding: 0rem 1rem 0 1rem;

}


.togglbutton
{
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.togglbutton .bar
{
  height: 3px;
  width: 100%;
  background-color: #5e2678;
  border-radius: 10px;
}

.togglbutton .bar:hover
{
  height: 3px;
  width: 100%;
  background-color: #a767ab;
  border-radius: 10px;
}

@media(max-width: 700px)
{
  .togglbutton{
    display: flex;
  }

  .navlinks
  {
    display: none;
    width: 100%;
  }

  .navigationbar
  {
    flex-direction: column;
    align-items: flex-start;
  }

  .navlinks ul{
    width: 100%;
    flex-direction: column;
  }

  .navlinks li
  {
    text-align: center;
  }

  .navlinks li a
  {
    padding: .5rem 1rem;
  }

  .navlinks.active
  {
    display: flex;
  } 
}

.topbtn {
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
 

.container
{
  width: 100%;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.gallery img
{
  width: 100%;
}

.galh1
{
  margin-top: 0px;
  margin-bottom: 10px;
  color: #9e9fa1;
}

/****************************BACKGROUND EFFECT*************************/
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.backgrounddiv {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #f7f7f7;
    overflow: hidden;
}
.backgrounddiv span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.backgrounddiv span:nth-child(0) {
    color: #dd9ccc;
    top: 2%;
    left: 69%;
    animation-duration: 47s;
    animation-delay: -33s;
    transform-origin: 20vw 25vh;
    box-shadow: -40vmin 0 5.474607632319638vmin currentColor;
}
.backgrounddiv span:nth-child(1) {
    color: #dd9ccc;
    top: 69%;
    left: 44%;
    animation-duration: 36s;
    animation-delay: -8s;
    transform-origin: -2vw 22vh;
    box-shadow: 40vmin 0 5.973183799403154vmin currentColor;
}
.backgrounddiv span:nth-child(2) {
    color: #dd9ccc;
    top: 60%;
    left: 14%;
    animation-duration: 19s;
    animation-delay: -18s;
    transform-origin: 20vw 17vh;
    box-shadow: -40vmin 0 5.848159007214867vmin currentColor;
}
.backgrounddiv span:nth-child(3) {
    color: #d9bbdd;
    top: 10%;
    left: 67%;
    animation-duration: 12s;
    animation-delay: -7s;
    transform-origin: -14vw 21vh;
    box-shadow: -40vmin 0 5.513894006267886vmin currentColor;
}
.backgrounddiv span:nth-child(4) {
    color: #d9bbdd;
    top: 55%;
    left: 88%;
    animation-duration: 7s;
    animation-delay: -46s;
    transform-origin: 2vw 4vh;
    box-shadow: 40vmin 0 5.6367817774540665vmin currentColor;
}
.backgrounddiv span:nth-child(5) {
    color: #d9bbdd;
    top: 34%;
    left: 37%;
    animation-duration: 24s;
    animation-delay: -5s;
    transform-origin: 4vw -19vh;
    box-shadow: -40vmin 0 5.440732118094427vmin currentColor;
}
.backgrounddiv span:nth-child(6) {
    color: #c3c1c3;
    top: 43%;
    left: 96%;
    animation-duration: 47s;
    animation-delay: -17s;
    transform-origin: 19vw 7vh;
    box-shadow: -40vmin 0 5.149245070362063vmin currentColor;
}
.backgrounddiv span:nth-child(7) {
    color: #c3c1c3;
    top: 8%;
    left: 64%;
    animation-duration: 37s;
    animation-delay: -37s;
    transform-origin: 24vw -22vh;
    box-shadow: -40vmin 0 5.0557510812201105vmin currentColor;
}
.backgrounddiv span:nth-child(8) {
    color: #d9bbdd;
    top: 92%;
    left: 91%;
    animation-duration: 30s;
    animation-delay: -2s;
    transform-origin: -11vw 16vh;
    box-shadow: -40vmin 0 5.793897778080208vmin currentColor;
}
.backgrounddiv span:nth-child(9) {
    color: #c3c1c3;
    top: 75%;
    left: 35%;
    animation-duration: 54s;
    animation-delay: -20s;
    transform-origin: -2vw 10vh;
    box-shadow: -40vmin 0 5.246836660441409vmin currentColor;
}
.backgrounddiv span:nth-child(10) {
    color: #c3c1c3;
    top: 81%;
    left: 93%;
    animation-duration: 25s;
    animation-delay: -5s;
    transform-origin: -5vw 18vh;
    box-shadow: -40vmin 0 5.939435396592626vmin currentColor;
}
.backgrounddiv span:nth-child(11) {
    color: #d9bbdd;
    top: 71%;
    left: 90%;
    animation-duration: 49s;
    animation-delay: -33s;
    transform-origin: -17vw 20vh;
    box-shadow: -40vmin 0 5.2396883948174855vmin currentColor;
}
.backgrounddiv span:nth-child(12) {
    color: #dd9ccc;
    top: 21%;
    left: 4%;
    animation-duration: 33s;
    animation-delay: -48s;
    transform-origin: 22vw 22vh;
    box-shadow: -40vmin 0 5.2842216838952485vmin currentColor;
}
.backgrounddiv span:nth-child(13) {
    color: #dd9ccc;
    top: 8%;
    left: 53%;
    animation-duration: 24s;
    animation-delay: -48s;
    transform-origin: -10vw 21vh;
    box-shadow: -40vmin 0 5.485399826222846vmin currentColor;
}
.backgrounddiv span:nth-child(14) {
    color: #dd9ccc;
    top: 72%;
    left: 37%;
    animation-duration: 48s;
    animation-delay: -3s;
    transform-origin: -8vw 4vh;
    box-shadow: 40vmin 0 5.460985385733453vmin currentColor;
}
.backgrounddiv span:nth-child(15) {
    color: #dd9ccc;
    top: 100%;
    left: 54%;
    animation-duration: 32s;
    animation-delay: -11s;
    transform-origin: 0vw 21vh;
    box-shadow: -40vmin 0 5.8293507419193995vmin currentColor;
}
.backgrounddiv span:nth-child(16) {
    color: #c3c1c3;
    top: 29%;
    left: 48%;
    animation-duration: 15s;
    animation-delay: -27s;
    transform-origin: 10vw -19vh;
    box-shadow: -40vmin 0 5.896934425148939vmin currentColor;
}
.backgrounddiv span:nth-child(17) {
    color: #c3c1c3;
    top: 79%;
    left: 98%;
    animation-duration: 18s;
    animation-delay: -18s;
    transform-origin: 0vw -15vh;
    box-shadow: 40vmin 0 5.149444152248744vmin currentColor;
}
.backgrounddiv span:nth-child(18) {
    color: #c3c1c3;
    top: 27%;
    left: 67%;
    animation-duration: 46s;
    animation-delay: -9s;
    transform-origin: -12vw 9vh;
    box-shadow: 40vmin 0 5.001330207143872vmin currentColor;
}
.backgrounddiv span:nth-child(19) {
    color: #c3c1c3;
    top: 40%;
    left: 86%;
    animation-duration: 42s;
    animation-delay: -46s;
    transform-origin: 10vw 3vh;
    box-shadow: -40vmin 0 5.2500368821053724vmin currentColor;
}

.backgrounddiv
{
  z-index: -1;
  height: 100%;
  width: 100%;
}

.pagestuff
{
  z-index: 100;
}

#containerdiv
{

  height: 100%;
  width: 100%;
}

/******************************END OF BACKGROUND EFFECT***************************************/

.socials
{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.socials a
{
  color: #5e2678;
  padding: 15px;
  font-size: 25px;
}

.socials a:hover
{
  color: #a767ab;
}


/*****************************HOME PAGE ANIMATED TEXT**************************/

.glitch{
  color:#a767ab;
}

.flash
{
  animation: blinker 1.75s linear infinite;
}

@keyframes blinker{
  50%{
    opacity: 0;
  }
}
/*****************************HOME PAGE ANIMATED TEXT**************************/